*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 940px;
    height: 90px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.header img{
    margin-right: 124px;
}

.header a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

/*== Article ==*/
article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article{
    display: flex;
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
}

.text{
    flex: 1;
    text-align: justify;
    margin: auto auto auto 60px;    
}

.text h3{
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text p{
    max-width: 316px;
    font-size: 18px;
    line-height: 28px;
}

.chef{
    flex: 1;
    margin-top: 66px;
    margin-left: 50px;
}