{% extends "layout.njk" %}

{% block content %}    
    <article>
        <div class="article">
            <div class="text">
                <h3>As melhores receitas</h3>
                <p>Aprenda a construir os melhores pratos com
                receitas criadas por profissionais do mundo inteiro.
                </p>
            </div>

            <div class="chef">
                <img src="/assets/chef.png" alt="">
            </div>
        </div>
    </article>

    <main>
        <div class="main">
            <h1>Mais acessadas</h1>
        

            <div class="cards">

                {% for item in recipes %}
                    <div class="card">
                        <div class="card_img">
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>

                        <div class="card_text">
                            <h2>{{item.title}}</h2>
                            <p>{{item.author}}</p>
                        </div>

                    </div>
                 {% endfor %}

            </div>

        </div>
    </main>
{% endblock %}