{% extends "layout.njk" %}


{% block content %}   


    <div class="container_recipes">
        <div class="recipes_img">
            <img src="{{recipes.image}}" alt="{{recipes.title}}">
        </div>

        <div class="recipes_title">
            <h1>{{recipes.title}}</h1>
            <p>{{recipes.author}}</p>
        </div>

        <div class="recipes_ingredients">

                <div class="recipes_list">

                    <h3>Ingredientes <a id="buttom" onclick=`ocultar('txt1')`> esconder </a></h3>

                    {% for ingredient in recipes.ingredients %}
                        <ul class="recipes_list_ul" id="txt1">
                            <li> {{ingredient}} </li>                       
                        </ul>
                    {% endfor %}

                </div>


                <div class="recipes_list" >

                    <h3>Modo de preparo <a id="buttom" onclick=`ocultar('txt2')`> esconder </a></h3>
                                            
                        {% for preparation in recipes.preparation %}
                            <ul class="recipes_list_ul" id="txt2">
                                <li>{{ preparation }}</li>
                            </ul>
                        {% endfor %}                   
                                            
                </div>


                <div class="recipes_list">

                    <h3> Informações adicionais <a id="buttom" onclick=`ocultar('txt3')`> esconder </a></h3>

                    <p id="txt3">
                        {{recipes.information}}
                    </p>
                </div>


        </div>
    </div>

{% endblock %}