{% extends "layout.njk" %}

    {% block head %}
        <title>Sobre - Foodfy</title>
    {% endblock %}

{% block content %}   

    <main>
        <div class="about">

            <div class="about_title">
                <h1>
                    Sobre o Foodfy
                </h1>
            </div>

            <div class="about_content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                </p>
            </div>

            <div class="about_subtitle">
                <h1>
                    Como tudo começou...
                </h1>
            </div>

            <div class="about_content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                </p>
            </div>

            <div class="about_subtitle">
                <h1>
                    Nossas receitas
                </h1>
            </div>

            <div class="about_content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita laborum eos
                    necessitatibus atque commodi quibusdam fuga quam voluptates asperiores praesentium aliquid
                    itaque ipsa minima eius neque aliquam, iste consequuntur?
                </p>   
            </div>


        </div>
    </main>
{% endblock %}